<p-accordion [multiple]="false">
  <p-accordion-tab
    *ngFor="let m of memberships"
    [header]="m.name + ' hub'"
    class="text-l md:text-xl"
  >
    <!-- EMPLOYEEEEEEEEEEEEEEE SECTION -->
    <div *ngIf="m.isTeamLead != true" class="mb-4 border-round-3xl pt-2">
      <h1 class="text-center">{{ m.name }} | Developer</h1>
      <div class="grid">
        <div class="col-12 lg:col-6">
          <app-evaluation-list
            [evaluations]="pendingEvaluations.get(m.teamId) ?? []"
            [type]="0"
            [title]="'Pending evaluations'"
            [emptyMessage]="'There are currently no pending evaluations!'"
          ></app-evaluation-list>
        </div>

        <div class="col-12 lg:col-6">
          <app-evaluation-list
            [evaluations]="submittedEvaluations.get(m.teamId) ?? []"
            [type]="1"
            [title]="'Submitted evaluations'"
            [emptyMessage]="'You haven`t submitted any evaluationts yet. Be sure to check your pending evaluations tab!'"
          ></app-evaluation-list>
        </div>
      </div>
    </div>

    <!-- TEAAAAAAAAAAAAAAAAM LEEEEEEEEEEEEEEEEEEEEAD SECTION-->
    <div *ngIf="m.isTeamLead == true" class="mb-4 border-round-3xl pt-2">
      <h1 class="text-white text-center">{{ m.name }} | Role: Team Lead</h1>
      <div
        class="grid flex flex-row align-content-center justify-content-center"
      >
        <div
          class="col-12 lg:col-6 flex justify-content-center align-content-center"
        >
          <div>
            <h2 class="text-center text-primary">Team Hieararchy</h2>
            <div class="overflow-x-auto overflow-y-auto">
              <p-organization-chart
                [value]="hierarchyData.get(m.teamId)"
                selectionMode="single"
              ></p-organization-chart>
            </div>
          </div>
        </div>
        <div
          class="col-12 lg:col-6 flex justify-content-center align-content-center flex-column"
        >
          <app-evaluation-list
            [evaluations]="peerEvaluations.get(m.teamId) ?? []"
            [type]="2"
            [title]="'Peer evaluations'"
            [emptyMessage]="'There is no previous history of peer evaluations for this team!'"
          ></app-evaluation-list>
        </div>
      </div>
      <p-divider></p-divider>
      <div class="grid">
        <div class="col-12 lg:col-6">
          <app-evaluation-list
            [evaluations]="pendingEvaluations.get(m.teamId) ?? []"
            [type]="0"
            [title]="'Pending evaluations'"
            [emptyMessage]="'There are currently no pending evaluations!'"
          ></app-evaluation-list>
        </div>

        <div class="col-12 lg:col-6">
          <app-evaluation-list
            [evaluations]="submittedEvaluations.get(m.teamId) ?? []"
            [type]="1"
            [title]="'Submitted evaluations'"
            [emptyMessage]="'You haven`t submitted any evaluationts yet. Be sure to check your pending evaluations tab!'"
          ></app-evaluation-list>
        </div>
      </div>
    </div>
  </p-accordion-tab>
</p-accordion>
