<p-stepper [value]="1" class="basis-[50rem]">
  <p-step-list>
    <p-step [value]="1">Select teammates</p-step>
    <p-step [value]="2">Pick team lead</p-step>
    <p-step [value]="3">Overview</p-step>
  </p-step-list>
  <p-step-panels>
    <p-step-panel [value]="1">
      <ng-template #content let-activateCallback="activateCallback">
        <div clas="flex justify-content-end">
          <div class="flex pt-6 justify-content-end">
            <p-button
              label="Next"
              icon="pi pi-arrow-right"
              iconPos="right"
              (onClick)="activateCallback(2)"
              [disabled]="!validStep1()"
              class="mb-3"
            />
          </div>
        </div>
        <div
          class="flex justify-content-center align-content-center flex-column"
        >
          <h1 class="text-center">Team name</h1>
          <input
            type="text"
            pInputText
            placeholder="Enter team name"
            [(ngModel)]="teamName"
          />

          <h1 class="text-center">Pick teammates</h1>
          <p-multiselect
            [options]="users"
            [(ngModel)]="selectedUsers"
            optionLabel="name"
            dataKey="name"
            placeholder="Select teammates"
            class="w-full md:w-80"
            (onChange)="onSelectedUsersChange()"
          />
        </div>
      </ng-template>
    </p-step-panel>

    <p-step-panel [value]="2">
      <ng-template #content let-activateCallback="activateCallback">
        <div class="justify-content-between mb-3">
          <div class="flex pt-6 justify-content-between">
            <p-button
              label="Back"
              severity="secondary"
              icon="pi pi-arrow-left"
              (onClick)="activateCallback(1)"
            />
            <p-button
              label="Next"
              icon="pi pi-arrow-right"
              iconPos="right"
              [disabled]="!validStep2()"
              (onClick)="activateCallback(3); setTeamLead()"
            />
          </div>
        </div>
        <div>
          <h1 class="text-center">Pick team lead</h1>
          <p-select
            [options]="selectedUsers"
            [(ngModel)]="teamLead"
            optionLabel="name"
            placeholder="Select team lead"
            class="w-full md:w-56"
          />
        </div>
      </ng-template>
    </p-step-panel>

    <p-step-panel [value]="3">
      <ng-template #content let-activateCallback="activateCallback">
        <div class="flex pt-6 justify-content-between">
          <p-button
            label="Back"
            severity="secondary"
            icon="pi pi-arrow-left"
            (onClick)="activateCallback(2)"
          />
          <p-button
            label="Submit"
            icon="pi pi-check"
            iconPos="right"
            (onClick)="submitForm()"
          />
        </div>
        <div class="card p-4 mt-4">
          <div class="card p-4 mt-4">
            <!-- You will need to import: CardModule, DataViewModule, TagModule -->

            <p-card>
              <ng-template pTemplate="header">
                <div class="p-4 border-b">
                  <h2 class="text-xl font-bold m-0">Team Overview</h2>
                </div>
              </ng-template>

              <div class="mb-6 flex flex-column gap-2 align-items-center justify-content-center">
                <span class="text-3xl font-semibold">Team Name</span>
                <span class="text-2xl font-light text-primary text-3xl">{{
                  teamName
                }}</span>
              </div>
              <p-divider></p-divider>
              <div class="flex flex-column gap-2 justify-content-center align-items-center w-full mt-4">
                <span class="font-semibold mb-2 text-3xl">Members</span>
                <div class="flex flex-column w-full">
                  <div
                    *ngFor="let user of selectedUsers"
                    class="p-4 border-top-1 border-gray-500 w-full justify-content-center flex font-bold"
                  >
                    <span>{{ user.name }}    </span
                    > <span
                      class="pi pi-star-fill text-primary"
                      *ngIf="user.isTeamLead"
                    ></span>
                  </div>
                </div>
              </div>
            </p-card>
          </div>
        </div>
      </ng-template>
    </p-step-panel>
  </p-step-panels>
</p-stepper>
